.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --title-shadow-color: #ff0070;
  --main-text-color: #353430;
  --decorated-color: #353430;
  --section-text-color: var(--main-text-color);
  --button-color: var(--text-color);
  --bg-color: #fff1f7;
}

.page.theme_light .rec {
  display: none;
}